.table
 {
  width: 100%;
  text-align: center;
  padding: 10px;
    cursor: pointer;
    color: #C0392B;
    font-family: inherit;
    font-size: 1em;
    border: 4px solid #C0392B;
    background-color: #fec24a;
}
.button
{
  margin-right: 10px;
}

td 
{
  border-bottom: 1px solid #C0392B;
}

tr:last-child td {
  border-bottom: none;
  margin:10px;
}
tbody tr td
{
  margin:10px;
}